.question-bg {
    /* background-image: url('images/electricity.jpg');  */
    display: flex;
    align-items: center;  
    justify-content: center;  
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    padding: 20px;
    height: 1300px;  
    width: 100%;  
}

.topTitle-bg {
    /* background-image: url('images/GSAPP.png');  */
    display: flex;
    align-items: center;  
    justify-content: center;  
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    padding: 20px;
    height: 900px;  
    width: 100%;  
}

body {
    margin: 0;
    padding: 0;
}

#map {
    top: 0;
    height: 100vh;
    width: 100%;
    position: fixed;
}

#header {
    margin: auto;
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 5;
    padding: 2vh 0vh 5vh 0vh;
}

#features {
    padding-top: 80vh;
    padding-bottom: 10vh;
}

@media (max-width: 750px) {
    #features {
        width: 90vw;
        margin: 0 auto;
    }
}

#footer {
    min-height: 2vh;
    text-align: left;
    line-height: 25px;
    width: 100%;
    position: relative;
    z-index: 5;
}

#header h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;    
    margin: auto;
    max-width: 1200px;    
}

#header h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;  
    max-width: 1200px;  
}

#header h5.byline {
    font-weight: 300;
    font-size: 0.9em;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

#header h5 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    margin-top: 0.5em;
    text-align: center;
    font-size: 1.2em;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#header p.byline {
    font-weight: 300;
    font-size: 0.9em;
    margin: 0.5em auto 0.8em auto;
}

#header p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 1.2em;
    max-width: 600px;
    margin: 1em auto 1em auto;
}

#features h3 {
    font-size: 30px;
    line-height: 1.2;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    max-width: 50vw;
}

#features p {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    font-size: 1.2em;
    max-width: 50vw;
}

#features .imageCredit {
    font-size: 0.9em;
    margin-top: -5px;
}

#footer p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.9em;
    max-width: 600px;
    padding: 0.75em 0em;
    margin: 0px auto;
}

a,
a:hover,
a:visited {
    color: #e96138;
}

.hidden {
    visibility: hidden;
}

.centered {
    width: 50vw;
    margin: 0 auto;
}

.lefty {
    width: 33vw;
    margin-left: 5vw;
}

.righty {
    width: 33vw;
    margin-left: 62vw;
}

.fully {
    width: 100%;
    margin: auto;
}

.light {
    color: #444;
    background-color: #ffffff;
}

.dark {
    color: #fafafa;
    background-color: #44444400;
}

.transparent{
    color: #fafafa;
    background-color: #44444400;
}

.step {
    padding-bottom: 50vh;
    opacity: 0.15;
}

.step.active {
    opacity: 0.99;
}

.step div {
    padding: 25px 50px;
    line-height: 25px;
    font-size: 13px;
}

.step img {
    width: 100%;
}

@media (max-width: 750px) {

    .centered,
    .lefty,
    .righty,
    .fully {
        width: 90vw;
        margin: 0 auto;
    }
}

.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
    touch-action: unset;
}